<section>
  <div class="container mortgage-container">
    <div class="row">
      <div class="col left-content">

        <mat-card appearance="raised" class="p-3">
          <mat-card-header class="title pb-4">
            <div class="d-inline-flex justify-content-between align-items-center w-100">
              <mat-card-title class="fw-medium">Mortgage Calculator</mat-card-title>
              <mat-card-subtitle><a routerLink="/">Clear All</a></mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-content>

            <div>

              <form [formGroup]="mortgageForm" (ngSubmit)="calculatePayments()">

                <mat-label style="color:hsl(200, 24%, 40%)">Mortgage Amount</mat-label>
                <div class="my-2"></div>
                <mat-form-field class="w-100 first-input">
                  <div class="d-flex align-items-center justify-content-between gap-3 container">
                    <span class="currency">&#8364;</span>
                    <input class="fw-medium" matInput formControlName="mortgageAmount">
                  </div>
                </mat-form-field>

                <div class="d-flex gap-md-3 flex-column flex-md-row">
                  <div>
                    <mat-label style="color:hsl(200, 24%, 40%);">Mortgage Term</mat-label>
                    <div class="my-2"></div>
                    <mat-form-field class="w-100 first-input">
                      <div class="d-flex align-items-center justify-content-between gap-3 container">
                        <input class="fw-medium ps-2" matInput formControlName="mortgageTerm">
                        <span class="currency">years</span>
                      </div>
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-label style="color:hsl(200, 24%, 40%);">Interest Rate</mat-label>
                    <div class="my-2"></div>
                    <mat-form-field class="w-100 first-input">
                      <div class="d-flex align-items-center justify-content-between gap-3 container">
                        <input class="fw-medium ps-2" matInput formControlName="interestRate">
                        <span class="currency">&percnt;</span>
                      </div>
                    </mat-form-field>
                  </div>
                </div>
                <mat-label style="color:hsl(200, 24%, 40%);">Mortgage Type</mat-label>
                <div class="my-2"></div>

                <mat-radio-group aria-label="Select an option" formControlName="mortgageType">
                  <div class="d-flex flex-column" >
                    <mat-radio-button value="Repayment">Repayment</mat-radio-button>
                    <div class="my-1"></div>
                    <mat-radio-button value="InterestOnly">Interest Only</mat-radio-button>
                  </div>
                </mat-radio-group>
                <div class="my-3"></div>
                <div class="btn-position">
                  <button mat-flat-button class="calculate-button">
                    <div class="d-flex align-items-center justify-content-between gap-3 ">
                      <img src="images/icon-calculator.svg" alt="calculatorIcon" width="20px">
                      <span>Calculate Repayments</span>
                    </div>
                  </button>
                </div>
                
              </form>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="col right-content">

        <mat-card appearance="raised" class="p-3">

          @if(!valid){

          <ng-container>
            <mat-card-header class="title mb-3">
              <div class="d-inline-flex justify-content-between align-items-center w-100">
                <mat-card-title class="fw-medium">Your results</mat-card-title>
              </div>
            </mat-card-header>

            <mat-card-content>
              <div>
                Your results are shown below based on the information you provided.
                To adjust the results, edit the form and click “calculate repayments” again.
              </div>
              <div class="output p-4 mt-5">
                <p>
                  Your monthly repayments
                </p>
                <p class="payment pt-3">$1,750.74</p>
                <div class="spacer"></div>
                <p class="pt-3"> Total you'll repay over the term</p>
                <p class="pt-3 total-payment">$539,322.94</p>
              </div>
            </mat-card-content>
          </ng-container>
          }

          @else {
          <ng-container>
            <mat-card-content>
              <div class="empty-illustration d-flex align-items-center justify-content-center flex-column">

                <div>
                  <img src="images/illustration-empty.svg" alt="empty state" class="empty-state" />
                </div>

                <div>
                  <p class="text-center p-0 fs-5 fw-bold" style="color:hsl(202, 86%, 94%);">
                    Results shown here
                  <p>
                  <p class="text-center">
                    Complete the form and click “calculate repayments” to see what
                    your monthly repayments would be.
                  </p>
                </div>
              </div>
            </mat-card-content>

          </ng-container>
          }

        </mat-card>

      </div>
    </div>
  </div>
</section>