/* plus-jakarta-sans-Bold - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/static/PlusJakartaSans-Bold.ttf') format('woff2');
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/static/PlusJakartaSans-Medium.ttf') format('woff2');
}
